.zitat {
    font-style: italic !important;
    text-align: right !important;
    width: 100%;
    padding-right: 50px;
    font-family: cursive !important;
    letter-spacing: 1px !important;
}
.style_nav {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.sidebar {
    position: fixed;
    z-index: 999;
}
.sidebar iframe {
    margin-bottom: 25px;
    display: block;
}
.content_wrapper {
    padding-left: 17.5rem !important;
}
#content {
    min-height: 820px !important;
}
#content h3 {
    padding-right: 50px;
}
#content * {
    float: none !important;
}
.nav-item .bg-white {
    background: transparent !important;
}